.home-video-detail {

  display: flex;
  width: 100%;
  padding: 2rem;

  .left-content {
    flex: 2.5;

    .video-content {

      .video-player {
        display: flex;
        flex-direction: column;
        position: relative;

        button {
          position: absolute;
          bottom: 18.5%;
          left: 25%;
          z-index: 12;
          background: none;
          color: white;
          border: none;
          outline: none;
          cursor: pointer;

          i {
            font-size: 1.05rem;
          }
        }

        .video-details {
          padding: 1rem;

          .details {
            display: flex;
            justify-content: space-between;

            ul {
              display: flex;

              li {
                list-style: none;
                display: flex;
                align-items: center;
                margin-left: 2rem;

                i {
                  margin-right: 1rem;
                }
              }

              :hover {
                cursor: pointer;
              }
            }
          }
        }
      }

    }

    .video-title {
      display: flex;
      justify-content: space-between;
      padding: 1rem;

      .left {
        display: flex;

        img {
          border-radius: 50%;
          width: 2.5rem;
          align-self: flex-start;
          margin-right: 1rem;
        }


      }

      .right button {
        padding: 0.7rem;
        color: white;
        border: 0;
        outline: none;
        border-radius: 0.3rem;
        cursor: pointer;
      }

      
    }


    .comment-content {

      .insert-comment {

        padding: 1rem;
        margin-bottom: 1rem;

        .comment-setting {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          position: relative;

          p {
            margin-right: 1rem;
          }

          i {
            margin-right: 1rem;
          }

          .sort-dropdown {
            position: absolute;
            right: 0;
            text-align: center;
            border-radius: 0.5rem;
            overflow: hidden;
            background-color: white;

            ul {
              list-style: none;

              li {
                padding: 1rem;
                cursor: pointer;
              }

              :hover {
                background-color: lightgray;
                transition: all 0.3s;
              }
            }
          }
        }

        .comment-setting div:hover {
          cursor: pointer;
        }

        .insert-comment-detail {
          display: flex;
          width: 100%;

          i {
            margin-right: 1rem;
          }

          img {
            width: 2.5rem;
            border-radius: 50%;
            align-self: flex-start;
            margin-right: 1rem;
          }

          input[type=text] {
            border: none;
            border-bottom: 1px solid #8842d5;
            background-color: snow;
            display: block;
            outline: none;
            margin-bottom: 1rem;
            cursor: text;
            width: 22rem;
          }

          button {
            padding: 0.5rem;
            border: 0;
            background-color: royalblue;
            color: white;
            border-radius: 0.2rem;
          }

          :hover {
            cursor: pointer;
          }
        }
      }

      .comment-details {
        padding: 1rem;
      }

    }

  }

  .right-content {
    flex: 1;
    height: 100%;
    margin-left: 1rem;

    .next-video-detail {
      display: flex;
      height: 8rem;
      margin-bottom: 1rem;

      .image-video {
        background-color: navy;
        flex: 1.5;
        margin-right: 0.5rem;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .image-video-detail {
        flex: 1;

        div {
          height: 3rem;
          overflow: hidden;
        }
      }
    }
  }

}

.bold {
  font-weight: bold;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.red-bg {
  background-color: red;
}

.gray {
  background-color: lightgray;
}

@media (max-width: 576px) {


  .home-video-detail {
    flex-direction: column;
  }


}
