<div class="home-video-detail">

    <div class="left-content">

        <div class="video-content">
            
            <div class="video-player">
                <video src="../../assets/videos/sample-video.m4v" autoplay controls></video>
                <div class="video-details">
                    <h3>Kenapa Kita Gugup Kalau Ngomong di Depan Umum?</h3>
                    <div class="details">
                        <p>428.262 x ditonton • 9 Jul 2020</p>
                        <div>
                            <ul>
                                <li>
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    <p>36RB</p>
                                </li>
                                <li>
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    <p>500</p>
                                </li>
                                <li>
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                    <p>Share</p>
                                </li>
                                <li>
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <p>Save</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="video-title">
                <div class="top">
                    <div class="user">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span>Adrian Prajna</span>
                        <p>2M Subscriber</p>
                    </div>
                    <button>Subscribe</button>
                </div>

                <div class="bottom">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores non ullam hic repellendus, velit expedita necessitatibus earum rerum? Laborum vitae provident quos culpa commodi deserunt id recusandae odio incidunt accusantium.Quidem, omnis. Deserunt magnam similique, eveniet voluptatibus tempore sequi sapiente magni nobis labore neque pariatur repudiandae rem dolore sed delectus voluptatem placeat optio officiis maiores, quas ipsum? Debitis, ad aut!
                </div>

            </div>

        </div>

        <hr>

        <div class="comment-content">

            <div class="insert-comment">

                <div class="comment-setting">
                    <p>4164 Komentar</p>
                    <div class="sort">
                        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                        <span>Sort</span>
                    </div>
                </div>

                <div class="insert-comment-detail">
                    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    <div>
                        <input type="text" name="" id="" placeholder="Add a public comment">
                        <button>Comment</button>
                    </div>
                </div>
                
            </div>

            <hr>

            <div class="comment-details" *ngFor="let item of x">
                <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" style="margin-right: 1rem;"></i>
                <div>
                    <p class="bold">Adrian Prajna</p>
                    <p>18 Minutes ago</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, cupiditate dicta distinctio illo inventore unde exercitationem beatae voluptate animi, labore alias provident ex nobis nesciunt vero optio, in soluta earum!</p>
                    <div>
                        <ul>
                            <li>
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <p>36RB</p>
                            </li>
                            <li>
                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                <p>500</p>
                            </li>
                            <li>
                                <p>Reply</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="right-content">
        <p class="bold" style="margin-bottom: 1rem;">Up Next</p>

        <div class="next-video-detail">
            <div class="image-video">

            </div>
            <div class="image-video-detail">
                <div>
                    <p class="bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repellendus saepe veritatis earum, cum impedit totam laborum voluptates facere maxime asperiores nobis vel hic, nesciunt est quibusdam dolores sequi illum.</p>
                </div>
                <p>Adrian Prajna</p>
                <p>300k views</p>
            </div>
        </div>

        <hr style="margin-bottom: 1rem;">

        <div class="next-video-detail" *ngFor="let item of x">
            <div class="image-video">

            </div>
            <div class="image-video-detail">
                <div>
                    <p class="bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repellendus saepe veritatis earum, cum impedit totam laborum voluptates facere maxime asperiores nobis vel hic, nesciunt est quibusdam dolores sequi illum.</p>
                </div>
                <p>Adrian Prajna</p>
                <p>300k views</p>
            </div>
        </div>


    </div>


</div>
