<div class="home-video-detail">

  <div class="left-content">

    <div class="video-content">

      <div class="video-player">
        <mat-video [keyboard]="isKeyboardActive" [quality]="true" [loop]="false" [autoplay]="false"
          [preload]="true" [fullscreen]="true" color="accent" spinner="spin" [overlay]="true"
          src="{{ video.url }}" style="width: 100%; height: 70vh;" (mouseenter)="addKeyboard()" (mouseleave)="addKeyboard()" [download]="isDownload" id="v">
        </mat-video>
        <!-- <button title="Next Video" [routerLink]="['/video-detail/', nextVideo.id]" routerLinkActive="router-link-active" *ngIf="nextVideo">
          <i class="fa fa-step-forward" aria-hidden="true"></i>
        </button> -->

        <div class="video-details">
          <h3> {{video.title}} </h3>
          <div class="details">
            <p>{{convertToComma(video.views)}} views • {{getDate()}}</p>
            <div>
              <ul>
                <li (click)="likeVideo()" id="like" title="{{video.likes}}">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  <p>{{convertMetric(video.likes)}}</p>
                </li>
                <li id="dislike" (click)="dislikeVideo()" title="{{video.dislikes}}">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  <p>{{convertMetric(video.dislikes)}}</p>
                </li>
                <li>
                  <i class="fa fa-share" aria-hidden="true"></i>
                  <p>Share</p>
                </li>
                <li>
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <p>Save</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <hr>

      <div class="video-title">
        <div class="left">
          <img src="{{ user.img_url }}" alt="">
          <div class="user">
            <span class="bold">{{user.name}}</span>
            <p>{{user.subscribers}} subscribers</p>
            <p>{{ video.description }}</p>
            <p>Category: {{video.category}}</p>
          </div>
        </div>

        <div class="right">
          <button (click)=subscribeChannel() class="red-bg" *ngIf="!isSubscribed">Subscribe</button>
          <button class="gray" *ngIf="isSubscribed" (click)="unsubscribeChannel()">Unsubscribe</button>
        </div>
      </div>

    </div>

    <hr>

    <div class="comment-content">

      <div class="insert-comment">

        <div class="comment-setting">
          <p>{{comments.length}} Comments</p>
          <div class="sort" *ngIf="!isSort" (click)="addSort()">
            <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
            <span>Sort</span>
          </div>
          <div class="sort-dropdown" *ngIf="isSort">
            <ul>
              <li (click)="getTopLiked()">
                <span>Top liked comment</span>
              </li>
              <li (click)="getNewest()">
                <span>Newest</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="insert-comment-detail">
          <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" *ngIf="!loginUser"></i>
          <img src="{{loginUser.photoUrl}}" alt="" *ngIf="loginUser">
          <div>
            <input type="text" name="" id="description" placeholder="Add a public comment">
            <button (click)="comment()">Comment</button>
          </div>
        </div>

      </div>

      <hr>

      <div class="comment-details" *ngFor="let comment of comments">
        <app-comment [comment]="comment" [loginUser]="loginUser"></app-comment>
      </div>

    </div>
  </div>

  <div class="right-content">
    <p class="bold" style="margin-bottom: 1rem;">Up Next</p>
    <h2 *ngIf="isPlaylistExists">Playlist</h2>

    <div class="next-video-detail" *ngIf="nextVideo">
      <div class="image-video" (click)="navigate()" style="cursor: pointer;">
        <img src="{{nextVideo.thumbnail}}" alt="">
      </div>
      <div class="image-video-detail">
        <div>
          <p class="bold">{{nextVideo.title}}</p>
        </div>
        <p>Adrian Prajna</p>
        <p>{{nextVideo.views}}x views</p>
      </div>

    </div>

    <hr style="margin-bottom: 1rem;">

    <div class="next-video-detail" *ngFor="let video of videos">
      <app-video-aside [video]="video" [nextVideo]="nextVideo"></app-video-aside>
    </div>

  </div>


</div>
