
    <div class="header">

        <div class="left-header">
            <i class="fa fa-bars fa-1x" (click)="onClick()"></i>
            <img src="../../assets/images/logoyoutube.jpg" alt="" width="100">
        </div>
    
        <div class="center-header">
            <input type="text" name="" id="" placeholder="Search">
            <button><i class="fa fa-search"></i></button>
        </div>
    
        <div class="right-header">
            <i class="fa fa-upload fa-1x"></i>
            <i class="fa fa-th fa-1x"></i>
            <i class="fa fa-ellipsis-v"></i>
            <div class="btn-sign-in">
                <i class="fa fa-user-circle fa-1x"></i>
                <p>Sign in</p>
            </div>
        </div>
    
    </div>

<app-sidebar [active]="active"></app-sidebar>

