<div class="next-video-detail">
  <div class="image-video" (click)="navigate()">
    <img src="{{video.thumbnail}}" alt="">
    <div class="vid-length">
      <p>{{getVideoLength(video.length)}}</p>
    </div>
  </div>
  <div class="image-video-detail">
    <div [ngClass]="video.title.length > 30 ? 'height': ''">
      <p class="bold">{{video.title}}</p>
    </div>
    <p [routerLink]="['/channel/'+channel.id+'/home']">{{user.name}}</p>
    <p>{{convertViewToString(video.views)}} views • {{getUploadedDate()}}</p>
  </div>
</div>
