.next-video-detail {
    display: flex;
    height: 8rem;
    margin-bottom: 1rem;
    outline: none;
    cursor: pointer;

    .image-video{
        background-color: navy;
        flex: 1;
        margin-right: 0.5rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .vid-length{
            position: absolute;
            color: white;
            background: black;
            padding: 0.2rem;

            bottom: 0;
            right: 0;
            font-size: 0.8rem;
        }
    }

    .image-video-detail {
        flex: 1;

    }
}

.bold {
    font-weight: bold;
}

.height{
    height: 3rem;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}