.notif {
    display: flex;
    margin-bottom: 0.5rem;

    .left {
        
        display: flex;
        width: 70%;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin-right: 0.5rem;
            align-self: flex-start;
            object-fit: cover;
        }
    }

    .right {
        width: 30%;
        img {
            width: 100%;
            object-fit: cover;
        }   
    }
}