<div class="youtube-premium">

    <div class="content">

        <div class="logo">
            <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
            <h1>YouTube Premium</h1>
        </div>

        <div class="title">
            <h1>YouTube Music & YouTube ad-free, offline, and in the background</h1>
        </div>

        <div class="footer">
            <button>TRY IT FREE</button>
            <!-- <p>1-month free trial ·</p> -->
            <p class="text-md">1-month free trial • Then IDR59,000.00/month</p>
            <p>Recurring billing • Cancel anytime</p>
            <p>Or save money with a <span>family or student plan</span></p>
            <a href="">Restrictions apply. Learn more here.</a>
        </div>
    </div>


</div>
