<div [ngClass]="active ? 'sidebar' : 'sidebar not-active'" id="style-1">
    

    <div class="sidebar-menu">
        <ul>
            <li class="list active" (click)="navigate('')">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </li>
            <li class="list" (click)="navigate('/trending')">
                <i class="fa fa-fire"></i>
                <span>Trending</span>
            </li>
            <li class="list" (click)="navigate('/subscription')">
                <i class="fa fa-youtube-square"></i>
                <span>Subscription</span>
            </li>
        </ul>
    </div>

    <hr>

    <div class="sidebar-menu">
        <p>Playlist</p>
        <ul>
            <li class="list" (click)="navigate('/playlist')">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>Full Stack Web</span>
            </li>
            <li class="list">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>REST API</span>
            </li>
            <li class="list">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>Laravel CRUD</span>
            </li>
        </ul>
    </div>

    <hr>

    <div class="sidebar-menu">
        <p>Subscription</p>
        <ul>
            <li class="list">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>The Joomers</span>
            </li>
            <li class="list">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>Traversy Media</span>
            </li>
            <li class="list">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>Lofi Hip Hop</span>
            </li>
        </ul>
    </div>

    <hr>


    <div class="sidebar-menu">
        <p>Best from Youtube</p>
        <ul>
            <li class="list" (click)="navigate('/category/music')">
                <i class="fa fa-music"></i>
                <span>Music</span>
            </li>
            <li class="list" (click)="navigate('/category/game')">
                <i class="fa fa-gamepad"></i>
                <span>Game</span>
            </li>
            <li class="list" (click)="navigate('/category/sport')">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
                <span>Sport</span>
            </li>
            <li class="list" (click)="navigate('/category/news')">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                <span>News</span>
            </li>
            <li class="list" (click)="navigate('/category/travel')">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <span>Travel</span>
            </li>
            <li class="list" (click)="navigate('/category/entertainment')">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span>Entertainment</span>
            </li>
        </ul>
    </div>

    <hr>

    <div class="sidebar-menu">
        <p>More from Youtube</p>
        <ul>
            <li class="list" (click)="navigate('/premium')">
                <i class="fa fa-youtube"></i>
                <span>Youtube Premium</span>
            </li>
        </ul>
    </div>

    <hr>
    
    <div id="footer-menu">
        <div class="footer-1">
            <a href="">Copyright</a>
            <a href="">About us</a>
            <a href="">Press</a>
            <a href="">Creators</a>
            <a href="">Terms</a>
        </div>

        <p>&copy;2020 Google LLC</p>
    </div>

  
</div>
