<div [ngClass]="active ? 'sidebar' : 'sidebar not-active'" id="style-1">
    

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-fire"></i>
                    Trending
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-youtube-square"></i>
                    Subscription
                </a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="sidebar-menu">
        <p>Best from Youtube</p>
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-music"></i>
                    Music
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-gamepad"></i>
                    Game
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-code"></i>
                    Code
                </a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="sidebar-menu">
        <p>More from Youtube</p>
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-youtube"></i>
                    Youtube Premium
                </a>
            </li>
        </ul>
    </div>

    <hr>
    
    <div id="footer-menu">
        <div class="footer-1">
            <a href="">Copyright</a>
            <a href="">About us</a>
            <a href="">Press</a>
            <a href="">Creators</a>
            <a href="">Terms</a>
        </div>

        <p>&copy;2020 Google LLC</p>
    </div>

  
</div>
