<div class="playlist">

    <div class="left-content">
        <div class="video">
            <video src="../../assets/videos/sample-video.m4v"></video>
            <button>
                <i class="fa fa-play" aria-hidden="true"></i>
                Play All
            </button>
        </div>

        <div class="playlist-thumbnail">
            <div class="title">
                <h2>Web Development</h2>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="description">
                <span>11 Videos •</span>
                <span> 14,515 views •</span>
                <span> Last updated on May 20, 2020</span>
            </div>
            <div class="privacy">
                <button>
                    <span>Public</span>
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </button>
            </div>
            <div class="button">
                <i class="fa fa-random" aria-hidden="true" title="Shuffle Play"></i>
                <i class="fa fa-share" aria-hidden="true" title="Share"></i>
                <i class="fa fa-trash-o" aria-hidden="true" title="Remove All Videos"></i>
            </div>
            <div class="edit-desc">
                <h3>Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, beatae accusamus distinctio animi ducimus repellendus iusto rem a asperiores nobis molestiae tenetur est nesciunt, id labore quibusdam ratione, incidunt placeat.</p>
                <button>
                    <span>Edit Description</span>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>
            
            <hr>

            <div class="account">
                <div class="image">

                </div>
                <p>Adrian Prajna</p>
            </div>
        </div>
    </div>

    <div class="right-content">
        <div class="sort">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span>Sort</span>
        </div>

        <!-- Video Content -->
        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="video-thumbnail">
                <video src="../../assets/videos/sample-video.m4v"></video>
            </div>
            <div class="video-desc">
                <h3>Front End Web Development</h3>
                <p>Adrian Prajna</p>
            </div>
            <div class="video-setting">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</div>
