.card {
    width: 18rem;
    margin-right: 1.25rem;
    margin-bottom: 2rem;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .card-video {
        height: 8rem;
        background-color: navy;
    }

    .card-title {
        display: flex;
        padding: 0.3rem;
        align-items: center;
        justify-content: space-around;
        position: relative;

        img {
            border-radius: 50%;
            width: 2.5rem;
            margin-right: 0.5rem;
        }
        
        .fa-ellipsis-v {
            align-self: flex-start;
            color: darkslategray;
            padding: 0.2rem;
        }

        .head-title {

            display: flex;
            flex-direction: column;
            align-self: center;
            
            .title {
                overflow: hidden;
                font-weight: bold;
            }
        }

        .settings-dropdown {
            display: none;
            position: absolute;
            right: 0;
            top: 30%;

            ul {
                width: 100%;
    
                li {
                    background: white;
                    width: 100%;
                    padding: 1rem;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
            :hover {
                background-color: lightgray;
            }
            
            }
        }
    }
}

.block {
    display: block !important;
}

.height {
    height: 3rem;
}