<div class="card">
    <div class="card-video" [routerLink]="['/video-detail/', video.id]" routerLinkActive="router-link-active" style="outline: none;">
        <img src="{{ video.thumbnail }}" alt="">
    </div>
    <div class="card-title" id="card-title">
        <img src="{{ user.img_url }}" alt="">
        <div [routerLink]="['/video-detail', video.id]" routerLinkActive="router-link-active" style="outline: none;">
            <div class="head-title">
                <div class="title" [ngClass]="video.title.length > 30 ? 'title height' : 'title'">
                    <p id="t">{{video.title}}</p>
                </div>
                <p>{{ user.name }}</p>
                <p>{{ video.views }}x views • {{video.day}} - {{video.month}} - {{video.year}}</p>
            </div>
        </div>
        <i class="fa fa-ellipsis-v" title="Setting" (click)="addDropdown($event, video.id)" *ngIf="isLoggedIn"></i>

        <!-- dropdown -->
        <!-- id="{{list.id}}" -->
        <div class="settings-dropdown" id="{{video.id}}"> 
            <ul>
                <li class="lists">
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    <p>Add to queue</p>
                </li>
                <li class="lists">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <p>Save to playlist</p>
                </li>
            </ul>
        </div>
        <!--  -->

    </div>
</div>
