<div class="card">
    <div class="card-video" [routerLink]="['/video-detail/'+video.id]" style="outline: none;">
        <img src="{{ video.thumbnail }}" alt="">
        <div class="vid-length">
            <p>{{getVideoLength(video.length)}}</p>
        </div>
    </div>
    <div class="card-title" id="card-title">
        <img src="{{ user.img_url }}" alt="">
        <div>
            <div class="head-title">
                <div class="title" [ngClass]="video.title.length > 30 ? 'title height' : 'title'">
                    <p id="t">{{video.title}}</p>
                </div>
                <p [routerLink]="['/channel/'+channel.id+'/home']" routerLinkActive="router-link-active" style="outline: none;">{{ user.name }}</p>
                <p>{{convertViewToString(video.views)}} views • {{getUploadedDate()}}</p>
            </div>
        </div>
        <i class="fa fa-ellipsis-v" title="Setting" (click)="addDropdown($event, video.id)" *ngIf="isLoggedIn"></i>

        <!-- dropdown -->
        <!-- id="{{list.id}}" -->
        <div class="settings-dropdown" id="{{video.id}}"> 
            <ul>
                <li class="lists">
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    <p>Add to queue</p>
                </li>
                <li class="lists" (click)="addModal()">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <p>Save to playlist</p>
                </li>
            </ul>
        </div>
        <!--  -->

    </div>
</div>

<div class="modal-bg" [ngClass]="isModalDrop ? 'modal-bg active' : 'modal-bg'">   
    <div class="modal">
        <div class="header">
            <p>Save to...</p>
            <i class="fa fa-times" aria-hidden="true" (click)="addModal()"></i>
        </div>
  
        <hr>
  
        <div class="playlist">
          <ul>
            <li *ngFor="let playlist of playlists">
                <app-list-playlist [playlist]="playlist"></app-list-playlist>
            </li>
          </ul>
        </div>
  
        <hr>
  
        <div class="create" (click)="addCreateDropdown()">
          <p>Create New Playlist</p>
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
  
        <div class="create-dropdown" *ngIf="createDropdown">
          <div class="title">
            <p>Name</p>
            <input type="text" name="" id="" style="width: 100%;" placeholder="enter playlist name..." id="input-create">
          </div>
          <div class="privacy">
            <p>Privacy</p>
            <span>
              <input type="radio" name="privacy" id="" value="Private">
              <label for="">Private</label>
            </span>
            <span>
              <input type="radio" name="privacy" id="" value="Public" checked>
              <label for="">Public</label>
            </span>
          </div>
          <button (click)="createPlaylist()">Create</button>
        </div>
  
    </div>
  </div>
