<div class="comment">
    <img src="{{ user.img_url }}" alt="" class="comment-img">
    <div>
        <p class="bold">{{ user.name }}</p>
        <p>{{day}}</p>
        <p>{{ comment.description }}</p>
        <div>
            <ul>
                <li>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <p>{{ comment.likes }}</p>
                </li>
                <li>
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    <p>{{ comment.dislikes }}</p>
                </li>
                <li>
                   <span (click)="dropReplyMenu()">Reply</span>
                </li>
            </ul>
        </div>

        <div class="reply" *ngIf="isReply">
            <div>
                <img src="{{ loginUser.photoUrl }}" alt="">
                <input type="text" placeholder="add a reply" id="reply-text">
            </div>
            <div class="reply-btn">
                <button (click)="cancelReplyMenu()">Cancel</button>
                <button (click)="reply(comment.id)">Reply</button>
            </div>
        </div>

        <div>
            <span style="color: blue;" *ngIf="replies.length != 0 && !showReply" (click)="showReplyMenu()">Show {{replies.length}} replies <i class="fa fa-angle-down" aria-hidden="true"></i></span>
            <span style="color: blue;" *ngIf="replies.length != 0 && showReply" (click)="showReplyMenu()">Hide {{replies.length}} replies <i class="fa fa-angle-up" aria-hidden="true"></i></span>

            <div *ngIf="showReply">
                <div class="show-reply" *ngFor="let reply of replies">
                    <app-reply [loginUser]="loginUser" [reply]="reply"></app-reply>
                </div>
            </div>

        </div>


    </div>
</div>

