<div class="channel-home">

    <div class="background">
        <img src="../../../assets/images/bg.jpg" alt="">
    </div>
    <div class="header">
        <div class="wrapper">
            <div class="user-header">
                <div class="user-detail">
                    <!-- <img src="" alt=""> -->
                    <div class="logo">
                        
                    </div>
                    <div>
                        <h2>Adrian Prajna</h2>
                        <p>16.4M Subscribers</p>
                    </div>
                </div>
                <div class="subscription">
                    <button>Subscribe</button>
                    <i class="fa fa-bell"></i>
                </div>
            </div>
            <div class="nav-list">
                <ul>
                    <li>Home</li>
                    <li>Videos</li>
                    <li>Playlists</li>
                    <li>Community</li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</div>
