.channel-home {
    padding: 1rem;
    font-family: 'Oswald', sans-serif;
  
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-left: 1.24rem;  

        :hover {
            cursor: pointer;
        }
    }    
}