.trending {
    padding: 1rem;

    .header {

        margin-left: 2rem;

        ul {
            display: flex;
    
            li {
                list-style-type: none;
                margin-right: 3rem;
                text-align: center;
                font-weight: bold;
    
                i {
                    color: white;
                    background-color: darkslategray;
                    padding: 1.5rem;
                    border-radius: 50%;
                }

            }
            margin-bottom: 1rem;
        }

    }

}

.bold {
    font-weight: bold;
}

$breakpoint-mobile: 576px;

@media (max-width: $breakpoint-mobile){

    .trending {

        .header {
            margin-left: 0;
            ul {
                justify-content: space-between;
    
                li {
                    margin-right: 1.5rem;
                    i {
                        font-size: 1rem;
                    }
                }
                
            }
        }
    }

    
}