<div class="trending">

  <div class="header">
    <ul>
      <li>
        <i class="fa fa-music fa-3x" aria-hidden="true"></i>
        <p>Music</p>
      </li>
      <li>
        <i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>
        <p>Gaming</p>
      </li>
      <li>
        <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
        <p>News</p>
      </li>
      <li>
        <i class="fa fa-film fa-3x" aria-hidden="true"></i>
        <p>Movies</p>
      </li>

    </ul>

    <hr>
  </div>

  <div class="row"  *ngFor="let video of videos; index as i">
    <app-video-trending [video]="video" *ngIf="i < 20"></app-video-trending>
  </div>

</div>
