<div class="subscription" [style.display]="loggedIn ? 'none' : 'flex'">
    <div class="content">
        <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
        <h2>Dont's miss new video</h2>
        <p>Login to see updates from your favourite youtube channel</p>

        <button (click)="signIn()">
            <i class="fa fa-user-circle fa-1x"></i>
            <p>Sign in</p>
        </button>
    </div>
</div>

<div *ngIf="loggedIn" class="subscriber">
    
    <div class="today">
        <h2>Today</h2>
        <div class="row">
            <div *ngFor="let video of today_videos; index as i">
                <app-video [video]="video"></app-video>
           </div>     
        </div>
    </div>

    <div class="this-week">
        <h2>This Week</h2>
        <div class="row">
            <div *ngFor="let video of week_videos; index as i">
                <app-video [video]="video"></app-video>
           </div>     
        </div>
    </div>

    <div class="this-month">
        <h2>This Month</h2>
        <div class="row month">
            <div *ngFor="let video of month_videos; index as i">
                <app-video [video]="video" *ngIf="i < displayedVideos"></app-video>
           </div>     
        </div>
    </div> 

    
</div>


<div id="footer"></div>