<div class="card">
    <div class="card-video">
        <img src="{{ topVideo.thumbnail }}" alt="">
        <div [ngClass]="hover ? 'play-all hover' : 'play-all'" (mouseenter)="addHover()" (mouseleave)="addHover()">
            <span>Play All</span>
            <i class="fa fa-play" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card-title" id="card-title">
        <div>
            <div class="head-title">
                <div class="title" [ngClass]="playlist.name.length > 30 ? 'title height' : 'title'">
                    <p id="t">Playlist - {{playlist.name}}</p>
                </div>
                <p>{{videos.length}} videos</p>
            </div>
        </div>
    </div>
</div>
