<app-channel-header></app-channel-header>
<div class="channel-community">
    <h1>Posts</h1>

    <div class="post" *ngIf="isInput">
        <div class="img">
            <img src="{{user.img_url}}" alt="">
        </div>
        <div class="input">
            <div class="title">
                <p>Title</p>
                <input type="text" name="" id="" style="width: 100%;" placeholder="input title..." id="t">
            </div>
            <div class="description">
                <p>Description</p>
                <input type="text" name="" id="" style="width: 100%;" placeholder="input description..." id="desc">
            </div>    
            <button (click)="addPost()">Post</button>
            <input type="file" name="" id="" (change)="onDropThumbnail($event.target.files)">
        </div>   
    </div>

    <div class="thumbnail">

        <div *ngIf="snapshotThumbnail | async as snap">
          <div *ngIf="downloadThumbnailURL as url">
            <!-- <img [src]="url"><br> -->
          </div> 
          <p *ngIf="!isThumbnailDone">{{ snap.bytesTransferred }} of {{ snap.totalBytes }}</p>   
        </div>
  
        <div *ngIf="!isThumbnailDone">
          <div *ngIf="percentageThumbnail | async as pct">
            <progress [value]="pct" max="100" style="margin-right: 0.5rem;"></progress>
            <span>{{ pct | number }}%</span>
          </div>   
        </div>
     
      </div>

    <app-post *ngFor="let post of posts" [post]="post" [user]="user" [userByEmail]="userByEmail"></app-post>
  
</div>