<app-channel-header></app-channel-header>
<div class="channel-community">
    <h1>Posts</h1>


    <app-post *ngFor="let post of posts" [post]="post" [user]="user"></app-post>
    
    <div class="post" *ngIf="isInput">
        <div class="img">
            <img src="{{user.img_url}}" alt="">
        </div>
        <input type="text" name="" id="" style="width: 60%;" placeholder="add a post..." id="desc">
        <button (click)="addPost()">Post</button>
        <input type="file" name="" id="">
    </div>

</div>