<div class="modal-bg" [ngClass]="isModalDrop ? 'modal-bg active' : 'modal-bg'">   
    <div class="modal">
        <div class="modal-header">
            <h2>Keyboard Shortcut</h2>
            <button (click)="dropModal()">Dismiss</button>
        </div>
        <hr>
        <div class="modal-content">
            <ul>
                <li>
                    <p>Backward 10 seconds</p>
                    <p>j</p>
                </li>
                <hr>
                <li>
                    <p>Play or pause video</p>
                    <p>k</p>
                </li>
                <hr>
                <li>
                    <p>Forward 10 second</p>
                    <p>l</p>
                </li>
                <hr>
                <li>
                    <p>Fullscreen mode</p>
                    <p>f</p>
                </li>
                <hr>
                <li>
                    <p>Up the video volume</p>
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                </li>
                <hr>
                <li>
                    <p>Low the video volume</p>
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>